@use "./variables" as v;
//glass-background
%glass-background {
  background-color: rgba(119, 119, 119, 0.219);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
}
//slide-up-animation
%slide-up-animation {
  transform: translateY(20px);
  opacity: 0;
  animation: slideUp 0.8s ease-out forwards;
}
%button-style {
  padding: 0.8rem 2rem;
  border-radius: 0;
  font-weight: 600;
  transition: v.$transition-fast;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  
  &:hover, &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}
%button-solid {
  @extend %button-style;
  background-color: v.$primary-yellow !important;
  color: v.$darker-bg !important;
  
  &:hover, &:focus, &:active {
    background-color: v.$secondary-yellow !important;
    transform: translateY(-2px);
  
  }
}

%button-outline {
  @extend %button-style;
  border: 2px solid v.$primary-yellow !important;
  color: v.$primary-yellow !important;
  background: transparent !important;

  &:hover, &:focus, &:active {

    color: v.$primary-yellow !important;
    transform: translateY(-2px);

  }
}

