// Colors
$primary-yellow: #dac5a7;
$secondary-yellow: #a79174;
$yellow-glow: #f0e1cd;

// Backgrounds
$darker-bg: #0a0a0a;    // Deep black background
$dark-bg: #121212;      // Dark background
$light-bg: #1a1a1a;     // Light background

// Text Colors
$text-light: #ffffff;   // White text
$text-gray: #b0b0b0;    // Light gray for descriptions
$border-color: rgba(255, 234, 43, 0.2); // yellow-tinted border

// Typography
$font-main: "Poppins", sans-serif;
$font-heading: "Montserrat", sans-serif;

// Layout & Spacing
$container-width: 1200px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$border-radius: 8px;

// Effects & Shadows
$shadow: 0px 4px 10px #a8957a;
$glass-effect: rgba(10, 10, 10, 0.8);

// Buttons
$btn-bg: $primary-yellow;
$btn-text: #ffffff;


// Transitions
$transition-fast: 0.2s ease-in-out;
$transition-slow: 0.5s ease-in-out;
