@use "./variables" as *;

.recently-visited-section {
  margin-bottom: 2rem;
  width:70%;
  margin: auto;
  .header {
    font-family: $font;
    font-weight: 500;
    margin-bottom: 0.5rem;
    .icon{
        font-size: 0.7rem;
      }
      span {
        font-size: 0.9rem;
      }
  }
  .recently-visited-cards {
    display: flex;
    gap: 1rem;
    margin: auto;
    .recent-card {
      width: 120px;
      height: 120px;
      border-radius: 18px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      background: $dark-gray;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      transition: box-shadow 0.2s;
      text-decoration: none;
      color: $text-color;

      .recent-card-top {
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        transition: background 0.2s;
        .recent-card-icon {
          position: relative;
          left: -2rem;
          top: 1.5rem;
        }
      }
      .recent-card-bottom {
        flex: 1;
        display: flex;
        align-items: flex-end;
        padding: 0 1rem 1rem 1rem;
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
  }
}
